.recently-accessed-box {
  display: flex;
  align-items: center;
  border: 1px solid #71A2FF; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  background-color: #fff; /* Background color */
  height: 5rem;
  width: 100%; /* Use 100% width for responsiveness */
  max-width: 70rem; /* Maximum width for larger screens */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.icon {
  width: 3.5rem; /* Adjust width */
  height: 3.5rem; /* Adjust height */
  border-radius: 5px; /* Rounded corners */
  margin-right: 1rem; /* Space between icon and text */
}

.text {
  font-weight: 700;
  font-size: 2rem; /* Adjust font size */
  flex-grow: 1; /* Allow text to take up remaining space */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

/* Media queries for smaller screens */
@media (max-width: 1700px) {
  .recently-accessed-box {
    display: flex;
    align-items: center;
    border: 1px solid #71A2FF; /* Border color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    background-color: #fff; /* Background color */
    height: 4rem;
    width: 80%; /* Use 100% width for responsiveness */
    max-width: 70rem; /* Maximum width for larger screens */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .icon {
    width: 2rem; /* Adjust width */
    height: 2rem; /* Adjust height */
    border-radius: 5px; /* Rounded corners */
    margin-right: 1rem; /* Space between icon and text */
  }
  
  .text {
    font-weight: 700;
    font-size: 1.5rem; /* Adjust font size */
    flex-grow: 1; /* Allow text to take up remaining space */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }
}