* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #E8F1FF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.site-logo {
    height: 150px;
    width: auto;
}

.desc {
    margin-top: 2rem;
    color: black;
    font-size: 1rem;
}

.nav-right {
    display: flex;
    gap: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.icontest {
    margin-top: 3.5rem;
    height: 50px; /* Adjust the size as needed */
    width: auto;
}
