/* src/components/pagestyle/TActiveTasks.css */
.teacherclasses-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.TCcontent-wrapper {
  display: flex;
  flex-direction: row;
}

.TChome-message {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 2vh;
  margin-left: 2vh;
  position: relative; /* Ensure the pseudo-element is positioned relative to the parent */
  padding-bottom: 1px; /* Add some padding below the text to separate it from the line */
}


.TChome-message::after {
  content: "";
  position: absolute; /* Use absolute positioning */
  top: 100%; /* Position the line just below the text */
  left: 0; /* Align the line with the left edge of the parent */
  width: 97%; /* Make the line span the full width of the parent */
  height: 2px;
  background-color: #E8F1FF; /* Line color */
  margin-top: 10px; /* Add space between the text and the line */
}

.TCtable-container {
  width: 100%;
  overflow-x: auto;
}

table {
  margin: auto;
  width: 90%;
  border-collapse: collapse;
}

.color {
  background-color: violet;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

td {
  text-align: center;
  padding: 8px;
}

thead {
  background-color: none;
  border: none;
}


.TCtable-row {
  cursor: pointer;
  border: .5px solid #71A2FF;
  border-radius: 5px;
  overflow: hidden;
}


hr {
  border-color: white;
  width: 100%;
  border-width: .5px;
}


h5 {
  text-align: center;
  color: gray;
  font-size: xx-small;
}

.TCcreate-quiz-button {
  border-width: 1.5px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #71A2FF;
  padding: 8px;
}
