/* src/components/pagestyle/Home.css */
.home-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center align items vertically */
  height: 80vh; /* Full height for vertical centering */
}

.welcome-section {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically within the section */
}

.welcome-section h1 {
  margin: 0;
  font-size: 2em;
}

.welcome-section h1 em {
  font-style: italic;
}

.welcome-logo {
  width: 150px;
  height: auto;
  margin: -30px 0; /* Reduced margin */
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 5px 0; /* Reduced margin */
}

.action-button {
  background-color: #71A2FF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.description {
  font-size: 14px;
  text-align: left;
  max-width: 400px;
  margin-top: 5px; /* Reduced margin */
}

.images-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.screenshot {
  width: 300px;
  height: auto;
}
